/* Appointment Form CSS */

/* Mobile */
@media (max-width: 768px) {
    /* Add mobile-specific styles here */
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Add tablet-specific styles here */
}

/* Desktop */
@media (min-width: 1025px) {
    /* Add desktop-specific styles here */


    /*############### input fields #################*/

    input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="time"],
#id_contact,
select,
textarea {
    top: 20vw;
    width: 100%;
    padding: 1.2vw;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}


    /*############### container #################*/


    .appt-mdl-box{
    pointer-events: none;
    opacity: 0;
    position: fixed;
    transform: translateX(20vw) translateY(30vw);
    background-color: var(--senary-color);
    box-shadow: 0 0 4px 4px gray;
    width: 30%;
    height: 75%;
    transition: ease 0.3s;
    padding: 1px;
    
}

.appt-mdl-box.show{
    display: block;
    opacity: 1;
    position: fixed;
    transform: translateX(20vw) translateY(-60vw);
    background-color: var(--senary-color);
    box-shadow: 0 0 4px 4px gray;
    pointer-events: auto;
    
}

.apt-mdl-form{
    margin: 5%;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.appt-empty {
    text-align: center;
    color: black;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    transform: translateY(20vh) ;
}
}