@media (max-width: 414px) {
         .mdsh-con{
            display:block;
            background-color: var(---color);
            padding:1px;
            margin-top: 3vh;
            margin-left: 2vw;
            width: 80vw;
        }

        .pat-li-con{
            display: block;
            margin-top: 1%;
            margin-bottom: 1%;
            margin-left: 1%;
            width: 98%;
            background-color:var(--quinary-color) 
        }

        .pdsh-con{
            color: black;
            padding: 10px;
        }
        .pdsh-con header{
            font-size: var(--header-font-size);
            font-weight: bold;
            margin-top: 0.5%;
            margin-bottom:0.5%;
            margin-left: 2%;
        }

        .asgn-tas-btn{
            display: flex;
            margin-top: 0.3%;
            margin-left: 65%;
            height: 30%;
            border-radius: 100%;
            border-style:solid ;
            border-color: #5e1b99;
            width: 3%;
            font-size: var(--header-font-size);
            font-weight: bold;
            background-color: rgb(182, 69, 216) ;
            align-items: center;
            justify-content: center;
            
        }

        .pdsh-li-con{
            display: block;
            /*background-color: var(--quinary-color);*/
            padding: 1px;
            height: 40vh;
        }

        .pdsh-li {

            margin-top: 2%;
            height: 90%;
            overflow: auto ;
        }

        /*------ patient table -------------*/

        .pdsh-tbl {
            border-collapse: collapse;
            margin-top: 0%;
            margin-left: 2%; 
            width: 96%;
            height: 5vh;
            overflow-y: auto;
        
        }

        .pdsh-tbl thead {
            background-color: rgb(190, 190, 190);/*pverehere */
            position: sticky;
            top: 0%;
            font-size: 150%;
            text-align :left;
            color:black;
            border: 1px solid black;
        }

        .pdsh-tbl th, .pdsh-tbl td{
            padding: 12px 15px;
        }

        .pdsh-tbl tbody{
            overflow-y: auto;
        }

        .pdsh-tbl tbody td{
            background-color: white;
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;   
        } 
        
        /*------ appointment zone dashboard -------------*/
    
        .dsh-appt-con{
            display: block;
            background-color: var(--quinary-color);
            width: 98%;
            margin-top: 2%;
            margin-left: 1%;
            margin-bottom: 5px;
        }

        .dsh-appt-h{
            display: block;
            padding: 10px;
        }

        .dsh-appt-h header{
            font-size: var(--header-font-size);
            color: black;
            font-weight: bold;
            margin-top: 0.5%;
            margin-bottom:0.5%;
            margin-left: 2%;
        }

        .dsh-appt-cntn{
            display: flex;
            height: 100%;
            padding: 1px;
        }

        /*-----------appointment list-------------------*/
        .dappt-box{
            display: block;
            width: 45%;
            height: 90%;
            margin-left: 3%;

        }

        .dappt-h{
            margin-left: 5%;
            font-size: var(--header-font-size);
        }

        .dappt-div{
            background-color: #4b4d50;
            width:90% ;
            height:1vh ;
            margin-left: 5%;
        }

        .dappt-li{
            display: block;
            width: 90%;
            height: 85%;
            margin-top: 2%;
            margin-left: 5%;
            overflow-y: auto;
            padding: 1px;}

        .dappt-li-box{
            display: block; 
            margin-top: 5%;
            margin-left: 10%;
            width: 80%;
            padding: 1px;
            background-color: var(--quinary-color);
            transition: ease-in-out 0.3s;
        }

        .dappt-li-box:hover{
            background-color: var(--quaternary-color);
        }

        .dappt-li-box p{
            display: block; 
            margin-left: 5%;
        }

        .dappt-li-box button{
            display:block;
            margin-top:-10%;
            margin-left: 75%;
            margin-bottom: 4%;
            height: 4vh;
        }
    
}

@media (min-width: 768px) {
     .mdsh-con{
            display:block;
            background-color: var(---color);
            padding:1px;
            margin-top: 3vh;
            margin-left: 2vw;
            width: 80vw;
        }

        .pat-li-con{
            display: block;
            margin-top: 1%;
            margin-bottom: 1%;
            margin-left: 1%;
            width: 98%;
            background-color:var(--quinary-color) 
        }

        .pdsh-con{
            color: black;
            padding: 10px;
        }
        .pdsh-con header{
            font-size: var(--header-font-size);
            font-weight: bold;
            margin-top: 0.5%;
            margin-bottom:0.5%;
            margin-left: 2%;
        }

        .asgn-tas-btn{
            display: flex;
            margin-top: 0.3%;
            margin-left: 65%;
            height: 30%;
            border-radius: 100%;
            border-style:solid ;
            border-color: #5e1b99;
            width: 3%;
            font-size: var(--header-font-size);
            font-weight: bold;
            background-color: rgb(182, 69, 216) ;
            align-items: center;
            justify-content: center;
            
        }

        .pdsh-li-con{
            display: block;
            /*background-color: var(--quinary-color);*/
            padding: 1px;
            height: 40vh;
        }

        .pdsh-li {

            margin-top: 2%;
            height: 90%;
            overflow: auto ;
        }

        /*------ patient table -------------*/

        .pdsh-tbl {
            border-collapse: collapse;
            margin-top: 0%;
            margin-left: 2%; 
            width: 96%;
            height: 5vh;
            overflow-y: auto;
        
        }

        .pdsh-tbl thead {
            background-color: rgb(190, 190, 190);/*pverehere */
            position: sticky;
            top: 0%;
            font-size: 150%;
            text-align :left;
            color:black;
            border: 1px solid black;
        }

        .pdsh-tbl th, .pdsh-tbl td{
            padding: 12px 15px;
        }

        .pdsh-tbl tbody{
            overflow-y: auto;
        }

        .pdsh-tbl tbody td{
            background-color: white;
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;   
        } 
        
        /*------ appointment zone dashboard -------------*/
    
        .dsh-appt-con{
            display: block;
            background-color: var(--quinary-color);
            width: 98%;
            margin-top: 2%;
            margin-left: 1%;
            margin-bottom: 5px;
        }

        .dsh-appt-h{
            display: block;
            padding: 10px;
        }

        .dsh-appt-h header{
            font-size: var(--header-font-size);
            color: black;
            font-weight: bold;
            margin-top: 0.5%;
            margin-bottom:0.5%;
            margin-left: 2%;
        }

        .dsh-appt-cntn{
            display: flex;
            height: 100%;
            padding: 1px;
        }

        /*-----------appointment list-------------------*/
        .dappt-box{
            display: block;
            width: 45%;
            height: 90%;
            margin-left: 3%;

        }

        .dappt-h{
            margin-left: 5%;
            font-size: var(--header-font-size);
        }

        .dappt-div{
            background-color: #4b4d50;
            width:90% ;
            height:1vh ;
            margin-left: 5%;
        }

        .dappt-li{
            display: block;
            width: 90%;
            height: 85%;
            margin-top: 2%;
            margin-left: 5%;
            overflow-y: auto;
            padding: 1px;}

        .dappt-li-box{
            display: block; 
            margin-top: 5%;
            margin-left: 10%;
            width: 80%;
            padding: 1px;
            background-color: var(--quinary-color);
            transition: ease-in-out 0.3s;
        }

        .dappt-li-box:hover{
            background-color: var(--quaternary-color);
        }

        .dappt-li-box p{
            display: block; 
            margin-left: 5%;
        }

        .dappt-li-box button{
            display:block;
            margin-top:-10%;
            margin-left: 75%;
            margin-bottom: 4%;
            height: 4vh;
        }
}
