/* use laptop for design the whole style on main */        
    @media (min-width: 720px) {
    :root {
                --font-size: 1rem;
                --primary-color: #b97cf1;
                --head-gradient: linear-gradient(45deg,#bf95e5,#a548f7) ;
                --secondary-color: #4b4d50;
                --tertiary-color: #d6d6d6;
                --quaternary-color: #a0a0a0;
                --quinary-color: #f0f0f0;
                --senary-color: #e0e0e0;
                --septenary-color: #d0d0d0;
                --octonary-color: rgba(109, 43, 153, 0.5);

                /* in used up to tertiary */


                --bigfont-size: 3vw;
                --smallfont-size: 1vw;
                --header-font-size: 2vw;
                --smol-header-font-size: 1.5vw;
                --comical-font-size: 10vw;
                /* have yet to set */

                --main-font: 'Poppins', sans-serif;
                --header-font: 'Poppins', sans-serif;
                --body-font: 'Poppins', sans-serif; 
                --table-font: 'Poppins', sans-serif;

                --stadard-card-padding: 10px;
            }

            /*################ main object or shapers class #############*/
            /*###########################################################*/
            body {
                background-color: var(--tertiary-color);
                font-family: Arial, Helvetica, sans-serif;
            }

            .head-clr {
                background-color: var(--primary-color);
            }
            .content {
                padding: 0.1%;
                display: block;
                margin-left: 15vw;
                margin-top:-2.1vh;
            }
            
            .li-i{
                display: block;
                margin-top: 5%;
            }
            
            /*############## Card radius ###################*/
            .crb-F {
                border-top-left-radius: 1vw;
                border-top-right-radius: 1vw;
                border-bottom-left-radius: 1vw;
                border-bottom-right-radius: 1vw;
            }
            .crb-H {
                border-top-left-radius: 0em;
                border-top-right-radius: 0em;
                border-bottom-left-radius: 1vw;
                border-bottom-right-radius: 1vw;
            
            }
            .crb-HT {
            border-top-left-radius: 1vw;
                border-top-right-radius: 1vw;
                border-bottom-left-radius: 0em;
                border-bottom-right-radius: 0em;
            
            }
            /*############## spacer ###################*/

            .spc1 {
                margin-left: 2vw;
            }

            /*############ Navigation bar #################*/
            /*#############################################*/

            
    
        /*############ dashboard item #################*/
        /*#############################################*/

        .mdsh-con{
            display:block;
            background-color: var(---color);
            padding:1px;
            margin-top: 3vh;
            margin-left: 2vw;
            width: 80vw;
        }

        .pat-li-con{
            display: block;
            margin-top: 1%;
            margin-bottom: 1%;
            margin-left: 1%;
            width: 98%;
            background-color:var(--quinary-color) 
        }

        .pdsh-con{
            color: black;
            padding: 10px;
        }
        .pdsh-con header{
            font-size: var(--header-font-size);
            font-weight: bold;
            margin-top: 0.5%;
            margin-bottom:0.5%;
            margin-left: 2%;
        }

        .asgn-tas-btn{
            display: flex;
            margin-top: 0.3%;
            margin-left: 65%;
            height: 30%;
            border-radius: 100%;
            border-style:solid ;
            border-color: #5e1b99;
            width: 3%;
            font-size: var(--header-font-size);
            font-weight: bold;
            background-color: rgb(182, 69, 216) ;
            align-items: center;
            justify-content: center;
            
        }

        .pdsh-li-con{
            display: block;
            /*background-color: var(--quinary-color);*/
            padding: 1px;
            height: 40vh;
        }

        .pdsh-li {

            margin-top: 2%;
            height: 90%;
            overflow: auto ;
        }

        /*------ patient table -------------*/

        .pdsh-tbl {
            border-collapse: collapse;
            margin-top: 0%;
            margin-left: 2%; 
            width: 96%;
            height: 5vh;
            overflow-y: auto;
        
        }

        .pdsh-tbl thead {
            background-color: rgb(190, 190, 190);/*pverehere */
            position: sticky;
            top: 0%;
            font-size: 150%;
            text-align :left;
            color:black;
            border: 1px solid black;
        }

        .pdsh-tbl th, .pdsh-tbl td{
            padding: 12px 15px;
        }

        .pdsh-tbl tbody{
            overflow-y: auto;
        }

        .pdsh-tbl tbody td{
            background-color: white;
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;   
        } 
        
        /*------ appointment zone dashboard -------------*/
    
        .dsh-appt-con{
            display: block;
            background-color: var(--quinary-color);
            width: 98%;
            margin-top: 2%;
            margin-left: 1%;
            margin-bottom: 5px;
        }

        .dsh-appt-h{
            display: block;
            padding: 10px;
        }

        .dsh-appt-h header{
            font-size: var(--header-font-size);
            color: black;
            font-weight: bold;
            margin-top: 0.5%;
            margin-bottom:0.5%;
            margin-left: 2%;
        }

        .dsh-appt-cntn{
            display: flex;
            height: 100%;
            padding: 20px;
        }

        /*-----------appointment list-------------------*/
        .dappt-box{
            display: block;
            width: 45%;
            height: 500px;
            margin-left: 3%;

        }

        .dappt-h{
            margin-left: 5%;
            font-size: var(--header-font-size);
        }

        .dappt-div{
            background-color: #4b4d50;
            width:90% ;
            height:1vh ;
            margin-left: 5%;
        }

        .dappt-li{
            display: block;
            width: 90%;
            height: 85%;
            margin-top: 2%;
            margin-left: 5%;
            overflow-y: auto;
            padding: 1px;
        justify-items: center;
        justify-content: center;}

                .dappt-li-box{
            display: block; 
            margin-top: 5%;
            margin-left: 10%;
            width: 80%;
            padding: 1px;
            background-color: var(--quinary-color);
            transition: ease-in-out 0.3s;
        }

        .dappt-li-box:hover{
            background-color: var(--quaternary-color);
        }

        .dappt-li-box p{
            display: block; 
            margin-left: 5%;
        }

        .dappt-li-box button{
            display:block;
            margin-top:-10%;
            margin-left: 75%;
            margin-bottom: 4%;
            height: 4vh;
        }

        .dsh-empt-appt{
            margin-top: 30%;
            justify-items: center;
        }

        .mpty-font {
            font-weight: bold;
            font-size: 2.5em;
            justify-items: center;
        }

        /*############ patient item #################*/
        /*#############################################*/

        .Ppg-con{
            display: block;
            background-color: var(--senary-color);
            padding: 1px;
            margin-top: 3vh;
            margin-left: 2vw;
            width: 80vw;
        }

        .Ppg-box{
            display:block; 
            background-color:var(--quinary-color);
            margin-top:2%;
            margin-left: 2%;
            margin-bottom: 2%;
            width: 96%;;
            height: 80vh;

        }

        .Ppg-h{
            display: flex;
            padding: 5px;
            font-size: var(--header-font-size);
            color: black;
            font-weight: bold;
            justify-content: start;
            justify-items: start;
        }

        .Ppg-h header {
            margin-left: 2%;
            padding: 1%;
        }

        .Ppg-b {
            background-color: none;
            padding: 1px;
            height: 90%;
            overflow: auto;
        }

       
        .Ppg-tbl {
            border-collapse: collapse;
            margin-top: 2%;
            margin-left: 2%; 
            width: 96%;
            height: 5vh;
            overflow-y: auto;
        }
         
        .Ppg-tbl th, .Ppg-tbl td{
            padding: 1vh 3vw;
        }

         .Ppg-tbl thead{
            background-color: rgb(190, 190, 190);
             position: sticky;
            top: 0%;
            font-size: 120%;
            text-align :left;
            color: black; 
            border: 3px solid black;
                
           }

           .Ppg-tbl tbody td{
            background-color: white;
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;   
        } 

        /*############ appointment  #################*/
        /*#############################################*/    

        .Appt-con {
            display: block;
            background-color: var(--senary-color);
            padding: 1px;
            margin-top: 3vh;
            margin-left: 2vw;
            width: 80vw;
        }

        .Appt-box {
            display: flex; 
            flex-direction: column;
            /*background-color: red;*/
            margin-top: 2%;
            margin-left: 10%;
            margin-bottom: 2%;
            width: 80%;
            padding: 1px;
        }

        .appt-1{

            background-color: var(--quinary-color);
        }
        .appt-2{
            margin-top: 2%;
    
            background-color: var(--quinary-color);
        
        }

         /*------------ appointment header -----------------*/
        .Appt-h{
            display: flex;
            padding: 1px;
            font-size: var(--header-font-size);
            color: black;
            font-weight: bold;
        }

        .Appt-h header {
            
            margin-left: 2%;
            padding: 1%;
        }
        
        /*------------ appointment body -----------------*/
        
        .Appt-b{ /* animation for this one also create 2 more copies */
            display: flex;
            padding: 1px;
            height: 50vh;  
        }
        

        /*-------------- apoinmnet list -----------*/
        .Appt-li-b{
            display: block;
            /*background-color: wheat;*/
            width: 90%;
            margin-left: 5%;
            margin-top: 1%;
            height: 95%;
            overflow-y: auto;
            
        }

        .Appt-li{
            background-color: var(--quinary-color);
            margin-top: 2%;
            margin-bottom: 6%;
            width: 90%;
            margin-left: 5%;    
            transition: ease 0.3s;
            padding: 2px;
        }

        .Appt-li:hover{
            background-color: var(--quaternary-color);
        }

         .appt-li-i{
            margin:2% ;
         }
/*#################### analyst stuff  ###########################*/
/*################################################################*/ 

    .ana-con{
          display: block;
            background-color: var(--senary-color);
            padding: 1px;
            margin-top: 3vh;
            margin-left: 2vw;
            width: 80vw;
    }

    .age-gen-box{
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 20%;
        padding: 1px;
        /*background-color: red;*/
    }

    .uppr-chrt{
        display:flex;
        /*background-color: green;*/
        padding: 1px;
        width: 95%;
        margin: 2%;
    }
    /*  ----- patient analyst table view box ---------*/
    .anali-box{
        display: block;
        width: 95%;
        height: 50vh;
        margin-left: 2%;
        margin-top: 2%;
        margin-bottom: 3%;
        /*background-color: green;*/

    }
    

    .anali-h{
        font-size: 2vw;
        font-weight: bold;
        padding: 1px;
    }
    .anali-h header {
        margin-left: 2%;
        padding: 2px;
    }

    .anali-tbl{
        display: block;
        margin-top: 2%;
        /*background-color: blue;*/
        height: 70%;
    }
    .anali-li{
        display: block;
        margin-left: 2%;
    }

    .anali-li thead {
        background-color: rgb(190, 190, 190);
             position: sticky;
            top: 0%;
            font-size: 120%;
            text-align :left;
            color: black; 
            border: 1px solid black;
    }

    .anali-li th,.anali-li td{
      padding: 1vh 3vw;   
    } 

    .anali-li tbody {
    display: block;
    height: 32vh;
    /*-color: red;*/

    overflow-y: auto;
    }

    .anali-li thead, .anali-li tbody tr {
    display: table;
    width: 98%;
    table-layout: fixed;
    }

    .anali-li tbody td{
        background-color: white;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        

    }



    /*---------gender ratio box-----------*/
    .pgen-ratio-box{
        display: block; 
        width:100% ;
        height:100%   ;
        margin: 2%;
    }

    .pgen-rat-h{
        padding: 1px;
        font-weight: bold;
        font-size: 150%;
    }

    /*--------- age ratio box-------------*/

    .page-box{
        display: block;
        width:100% ;
        height: 100%;
        margin: 2%;
    }

    .page-h{
        padding: 1px;
        font-weight: bold;
        font-size: 150%;
    }

    .pgen-rat-h header, .page-h header{
        margin-top: 2%;
        margin-left: 5%;
        margin-bottom: 2%;
    }

    /*---------gender mental victim bar table-------------*/
    .prbar-box{
       /*background-color: blue;*/
        margin-top: 0%;
        width: 90%;
        margin-right: 3%;
    }

    #genderBar{
        margin-top: 2%;
        height: 70%;
        
    }

    .prbar-box-h{
        font-size: var(--header-font-size);
        padding: 1%;

    }

    .prbar-box-h header{
        font-size: 2vw;
        font-weight: bold;
}    


    }
