
        /* Media query for desktop */
        @media (min-width: 720px) {
        
            :root {
                --font-size: 1rem;
                --primary-color: #bf95e5;
                --head-gradient: linear-gradient(45deg,#bf95e5,#a548f7) ;
                --secondary-color: #4b4d50;
                --tertiary-color: #d6d6d6;
                --quaternary-color: #a0a0a0;
                --quinary-color: #f0f0f0;
                --senary-color: #e0e0e0;
                --septenary-color: #d0d0d0;
                --octonary-color: #c0c0c0;
                /* in used up to tertiary */


                --bigfont-size: 3vw;
                --smallfont-size: 1vw;
                --header-font-size: 2vw;
                --smol-header-font-size: 1.5vw;
                --comical-font-size: 10vw;
                /* have yet to set */

                --main-font: 'Poppins', sans-serif;
                --header-font: 'Poppins', sans-serif;
                --body-font: 'Poppins', sans-serif; 
                --table-font: 'Poppins', sans-serif;

                --stadard-card-padding: 10px;
            }

            /*################ main object or shapers class #############*/
            /*###########################################################*/
            body {
                background-color: var(--tertiary-color);
                font-family: Arial, Helvetica, sans-serif;
            }

            .content {
                padding: 0.1%;
                display: block;
                margin-left: 15vw;
                margin-top:-2.1vh;
            }
            
            .li-i{
                display: block;
                margin-top: 5%;
            } 

            /*############## spacer ###################*/

            .spc1 {
                margin-left: 2vw;
            }
           
            /*######### patient dashboard content ##########*/
            /*#############################################*/
            
            .dash-box{
                background-color: var(--senary-color);
                width: 96%;
                margin-left: 2%;
                padding: 1px;
                margin-top: 2%;
                margin-bottom: 2%;
            }
            
            /*---------emotion mood box thingy -----*/
            
            

            .bsc-cal {
                /*background-color: green;*/
                font-size: 1.5rem;
                width: 90%;
                margin-top: 10%;
                margin-left: 5%;
                /*padding: 1px;*/
                border-style: solid;
                border-color: gray;
                transition: ease-in-out 0.3s;
            }

            .bsc-cal td, .bsc-cal th {
            text-align: center;
            vertical-align: middle;
            }

            .cal-nav {
                /*padding: 4px;*/
                font-weight: bold;
            }
            .cal-nav header{
                margin-left: 5%;
                padding: 10px;
            }
            .cal-nav header a{
                color: black;
                transition:ease-in 0.3s;
                margin-left: 5%;
                margin-right: 5%;
            }

            .cal-nav header a:hover{
                color: white;
            }

            .month{
                /*background-color: red;*/
                width: 100%;
                height: 100%;
                padding: 1px;
            }

            .month tr td{
                /*background-color: pink;*/
                height: 3vw;
                align-items: center;    
            }
            .dsh-today{
                border-color: #000000;
                border-style: solid;
                
            }
            .dsh-appt{
                background-color: var(--primary-color);
            }


        /*########################## appointment cotent #################*/
        /*#####################################################################*/
        .apptm-con{
            display: flex;
            flex-direction: column ;
            /*padding: 1px;*/
            background-color: var(--senary-color) ;
            margin-top : 3vh;
            margin-left: 1vw;
        }

        .appt-con-line{
            /*background-color: red;*/
            /*padding: 1px;*/
            width: 90%;
            margin-left: 5%;
            margin-bottom: 5%;
        }
        .appt-con{
            width: 100%;
            /*padding: 1px;*/
            background-color:var(--quinary-color);

        }

        .appt-con1{
            width: 100%;
            margin-top: 5%;
            /*padding: 1px;*/
            background-color:var(--quinary-color);

        }
        
        .appt-h{
            display: flex;
            font-size: var(--header-font-size);
            font-weight: bold;
        }

        .appt-h header{
            margin: 1%;
            margin-left: 2%;
        }
            
        .appt-l{
            /*background-color:var(--quinary-color);*/  
            padding: 1px;
        }   

        .appt-scrl{
    /*background-color: rebeccapurple;*/
            /*padding: 1px;*/
            width: 80%;
            height: 40vh;
            margin-left: 10%;
            overflow-y: auto;
        }

        .appt-li{
            background-color: var(--quinary-color);
            width: 80%;
            margin-left: 10%;
            margin-top: 5%;
            margin-bottom: 5%;
            padding: 1px;
            transition: 0.3s;
        }

        .appt-li:hover{
            background-color: var(--quaternary-color);
        }
        .appt-li-i{
            margin: 2%;
            margin-left: 10%;
            font-size: 1.5vw;
        }
        .mt-appt-con{
            display: block;
            font-size: 2vw;
            font-weight: bold;
            margin-top: 15%;
            margin-left: 30%;
            margin-bottom: 1%;
            
        }
        /*##################### task content #####################*/
        /*########################################################*/

        .TSK-con{                       /* whole container  */
            display: block;
            background-color: var(--senary-color);
            height: 20%;
            margin-top: 5vh ;
            margin-left: 1vw;
            
        }

        .TSK-i{     /* main task item container */
            display: flex;
            padding: 0.1px;
            width: 97%;
            margin-left: 1%;
            background-color: none;
            
        }

        .TSK-inc {
            display: block ;
            margin-top: 2%;
            margin-left: 5% ;
            margin-bottom: 2%;
            width: 42%;
            background-color: var(--quinary-color);
            /*padding: 1px;*/
        }

        .TSK-h{
            display: block;
            font-size: var(--header-font-size) ;
            font-weight: bold;
        }
        .TSK-h header{
            margin-left: 5%;
            padding: 0.5vw;
        }

        .TSK-l{
            display: block;
            /*background-color: green;*/
            width: 99.5%;
            height: 80vh;
            margin-top: 2%;
            overflow-y: auto;
        
        }

        .TSK-li{
            display: block;
            background-color:var(--quinary-color);
            width: 90%;
            margin-left: 5%;
            margin-top: 2%;
            margin-bottom: 5%;
            padding: 1px;
            transition: ease-in-out 0.3s;
        }
        
        .TSK-li:hover{
            background-color: var(--quaternary-color);
        }

        .TSK-lif{
            margin-top: 3%;
            margin-left: 5%;
            margin-bottom: 5%;
            padding: 1px;
        }
        .TSK-lif header{
            margin-bottom: 2%;
            font-size: 2vw ;
            font-weight: bold;
        }

        .tasp-div{
            display: block;
            background-color: #4b4d50;
            width: 90%;
            height: 1vh;
        }

        .TSKbtn{
            margin-left: 70%;
            height: 2vw;
            position: relative;
        }

        .Mt-tas{
            margin-left: 30%;
            margin-top: 45%;
            font-size: 2vw;
            font-weight: bold;
        }

    /*################## modal stuff ######################*/
    /*#####################################################*/

    #appointment-modal {
        opacity: 1;
        pointer-events: none;
        transition: opacity 0.3s ease;
        /* existing styles */
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        background: white;
        border: 1px solid #ccc;
        padding: 20px;
        z-index: 1000;
        border-radius: 12px;
        min-width: 300px;
        max-width: 90vw;
    }

    #appointment-modal.show {
        opacity: 1;
        pointer-events: auto;
    }
        }