{% extends "patient/base.html" %}

{% block content %}
<div class="main-con crb-F">
    <div class="title-card">
        Appointments
    </div>
    <div class="appt-con-line">
        <div class="appt-con b-shad-gen crb-F">
            <header class="appt-h head-font head-clr bdr-style crb-HT">
                <header>upcoming appointment</header>
            </header>
            <div class="appt-l crb-H">
                <div class="appt-scrl">
                    {% for pending in pending_appointment %}
                    <div class="appt-li bdr-active mn-font1 crb-F">
                        <div class="appt-li-i mn-font1">
                            <p>Datetime: {{ pending.appointment_date }}, {{ pending.appointment_time }}</p>
                            <p>Dr: {{ pending.doctor.who.full_name }}</p>
                            <p>Meeting: {{ pending.appointment_meeting_type }}</p>
                            <p>Type: {{ pending.appointment_type }}</p>
                        </div>
                    </div>
                    {% empty %}
                    <div class="mt-appt-con mt-font">
                         there are no appointments
                    </div>       
                    {% endfor %}
                </div>
                {% comment %}empty template{% endcomment %}       
            </div>
        </div>

        <div class="appt-con1 b-shad-gen crb-F">
            <header class="appt-h head-font head-clr bdr-style crb-HT">
                <header>complete appointment</header>
            </header>
            <div class="appt-l crb-H">
                <div class="appt-scrl">
                    {% for x in complete_appointment %}
                    <div class="appt-li bdr-active mn-font1 crb-F">
                        <div class="appt-li- mn-font1">
                            <p>Datetime:{{ x.appointment_date }}, {{ x.appointment_date }}</p>
                            <p>Dr:{{ x.appointment_date }}</p>
                            <p>Meeting :{{ x.appointment_date }}</p>
                            <p>Type :{{ x.appointment_date }}</p>
                        </div>
                    </div>
                    {% empty %}
                    <div class="mt-appt-con mt-font">
                         there are no appointments
                    </div>       
                    {% endfor %}
                </div>
                {% comment %}empty template{% endcomment %}       
            </div>
        </div>

         <div class="appt-con1 b-shad-gen crb-F">
            <header class="appt-h head-font head-clr bdr-style crb-HT">
                <header>cancelled appointment</header>
            </header>
            <div class="appt-l crb-H">
                <div class="appt-scrl">
                    {% for x in complete_appointment %}
                    <div class="appt-li bdr-active mn-font1 crb-F">
                        <div class="appt-li-i mn-font1">
                            <p>Datetime:{{ x.appointment_date }}, {{ x.appointment_date }}</p>
                            <p>Dr:{{ x.appointment_date }}</p>
                            <p>Meeting :{{ x.appointment_date }}</p>
                            <p>Type :{{ x.appointment_date }}</p>
                        </div>
                    </div>
                    {% empty %}
                    <div class="mt-appt-con mt-font">
                         there are no appointments
                    </div>       
                    {% endfor %}
                </div>
                {% comment %}empty template{% endcomment %}       
            </div>
        </div>
    </div>

</div>
{% endblock %}