/* Appointment Form CSS */

/* Mobile */
@media (max-width: 768px) {
    /* Add mobile-specific styles here */
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Add tablet-specific styles here */
}

/* Desktop */
@media (min-width: 1025px) {
    /* Add desktop-specific styles here */

    .msg-modal-box {
    display: block;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 40%);
    width: 80%;
    max-width: 500px;
    background-color: var(--senary-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
    padding: 20px;
}

.msg-modal-box {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 80%;
    max-width: 500px;
    background-color: var(--senary-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
    padding: 20px;
}

.msg-modal-box.show {
    display: block;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(0%, 0%);
    width: 80%;
    max-width: 500px;
    background-color: var(--senary-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
    padding: 20px;
}

.close-chat {
    background-color: red;
    transform: translateX(24vw) translateY(-3vw);
    width: 2vw;
    height: 2vw;
    border-radius: 20%;
}

.close-chat p {
    color: white;
    font-size: 1.5vw;
    text-align: center;
    line-height: 2vw;
}

.under-construction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: 2em sans-serif;
    font-weight: bold;
    font-style: italic;
}
.worker-icon {
    width: 10vw;
    height: 10vw;
}
}