/* Minor adjustments for all devices */

/* Default styles (applies to all devices) */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.spc1 {
        margin-left: 2vw;
    }

/* Media query for tablets */
@media (max-width: 768px) {
 
}

/* Media query for mobile devices */
@media (max-width: 480px) {
    
}

/* Media query for desktops */
@media (min-width: 1024px) {
}
