:root {
        --font-size: 1rem;
        --primary-color: #b97cf1;
        --head-gradient: linear-gradient(45deg,#bf95e5,#a548f7) ;
        --secondary-color: #4b4d50;
        --tertiary-color: #d6d6d6;
        --quaternary-color: #a0a0a0;
        --quinary-color: #f0f0f0;
        --senary-color: #e0e0e0;
        --septenary-color: #d0d0d0;
        --octonary-color: #c0c0c0;
        /* in used up to tertiary */


        --bigfont-size: 3vw;
        --smallfont-size: 1vw;
        --header-font-size: 2vw;
        --smol-header-font-size: 1.5vw;
        --comical-font-size: 2vw;
        /* have yet to set */

        --main-font: 'Poppins', sans-serif;
        --header-font: 'Poppins', sans-serif;
        --body-font: 'Poppins', sans-serif; 
        --table-font: 'Poppins', sans-serif;

        --stadard-card-padding: 10px;
    }